
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #fff;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);  

}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo span {
  color: #002D72;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.new {
  background: #FFD700;
  color: #000;
  padding: 2px 6px;
  border-radius: 10px;
  font-size: 12px;
  margin-left: 5px;
}
 
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  gap: 30px;
}

.hero-text {
  flex: 1;
}

.tagline {
  background: #FFD700;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 36px;
  color: #0a1a3f;
  margin-bottom: 20px;
}

.description {
  line-height: 1.6;
  margin-bottom: 20px;
  color: #444;
}

 
.highlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
  background: #f9f9f9;
}
 
.explore-btn {
  background: #002D72;
  color: #fff;
  padding: 12px 25px;
  border: 3px solid yellow;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
 box-shadow: 0px 0px 2px yellow;

}
.explore-btn:hover {
  background: #001A4C;
   box-shadow: 0px 0px 2px rgb(224, 224, 188);
}

/* Image */
.hero-image img {
  max-width: 400px;
  border-radius: 10px;
}

